@import "tailwindcss";


/* Hide scrollbar — WebKit (Chrome, Edge, Safari) */
html,
body {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ / Edge legacy */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}